@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    overflow: hidden;
}
.navbar {
    background-color: #00a682;
    height: 20vh;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-flex {
    display: flex;
    flex-direction: row;
}

.navbar-flex a{
    text-decoration: none;
}

.navbar h2 {
    color: #fff;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
}

.navbar ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 750px;
}

.navbar ul li {
    margin-left: 40px;
    list-style: none;
}

.navbar ul li a{
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: #f0f2f5;
}

.home {
    z-index: 999;
    margin-top: 70px;
    background-color: #e2e1dd;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left {
    border-right: 1px solid #e6e9ec;
    z-index: 999;
    overflow-y: auto;
    background-color: #fff;
    height: 100vh;
    margin-left: 3vw;
    max-width: 30vw;
    width: 30vw;
}

.right {
    overflow-y: auto;
    z-index: 999;
    height: 100vh;
    margin-right: 3vw;
    background-size: cover;
    max-width: 70vw;
    width: 70vw;
    background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg');
  }

#error-message {
    font-size:50px;
    font-family: 'Merriweather', serif;
    color: red;
    margin-top: 240px;
    margin-left: 180px;
    text-align: center;
}

.title {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 8888;
    width: 100%;
    height: 8vh;
    background-color: #fff;
}

.title h3{
    font-family: 'Merriweather', serif;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.chat {
    cursor: pointer;
    margin: 2px 3px;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #e6e9ec;
}

.chat.active {
    background-color: #f0f2f5;
}

.chat:hover {
    background-color: #f0f2f5;
}

.chat img {
    width: 12%;
    margin: 8px 0 0 5px;
}

.chat-flex{
    display: flex;
    flex-direction: row;    
}

.hidden {
    display: none;
  }

.chat-text {
    margin-left: 10px;
}

.chat-text h5 {
    margin: 15px 0 0 10px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
} 

.input-span{
    display: flex;
    flex-direction: row;
}

.input-span button {
    cursor: pointer;
    width:5%;
    height: 7%;
    border: white;
    border-radius: 16px;
    position: fixed;
    bottom: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 820px;
    background: linear-gradient(#00a682, #46fbd4);
    color:#000;
    font-size: 25px;
}


.input {
    width:50%;
    height: 7%;
    border: white;
    border-radius: 16px;
    position: fixed;
    bottom: 15px;
    margin-left: 120px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-indent: 13px;
    
}

.input::placeholder {
    padding-left: 13px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#00a682, #46fbd4);
}

.chats {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 12px;
    height: 32vh;
    width: 17vw;
    margin-left: 120px;
    margin-top: 15px;
    margin-bottom: 200px;
}


.chats img{
    border-radius: 12px 12px 0 0;
    width: 60%;
}

.chats h4{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 2px;
}

.chats button {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    padding: 1px 100px 1px 100px;
    margin-top: 8px;
    border-radius: 12px;
    background: white;
    border: none;
}

.form {
    margin-top: 100px;
    margin-left: 400px;
    height:6vh;
}

.form input {
    width:50%;
    height: 100%;
    border: white;
    border-radius: 16px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-indent: 13px;
}

.form input::placeholder {
    padding-left: 13px;
}

.form button {
    padding: 1px 100px 1px 100px;
    margin-left: 32px;
    cursor: pointer;
    border: white;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(#00a682, #46fbd4);
    color:#000;
    font-size: 25px;
}